<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加活动分类</title>
    ﻿<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12 nav-slider">
            <div class="page-header">
                <h1>展示营销活动分类  <small>脉店</small><small><a ﻿class="btn btn-danger" role="button" href="https://zch.kuosanyun.com/activity/activeList/">展示营销活动</a></small></h1>
            </div>
            <button type="button" class="btn btn-default" aria-label="Right Align">
                <a href="https://zch.kuosanyun.com/activity/createGroup/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </button>
            <table class="table table-striped table-bordered table-hover" id="table-group">
            <thead>
                <tr style="background-color: #CAE1FF;">
                    <th>分组id</th>
                    <th>分组名称</th>
                    <th>分组排序</th>
                    <th>创建时间</th>
                    <th>分组是否有效(0是无效，1是有效)</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for c in context.info %}
                    <tr>{{ c.bus_number }}</tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{#    <nav aria-label="Page navigation">#}
{#      <ul class="pagination">#}
{#            {% if page_obj.has_previous %}#}
{#                <li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>#}
{#            {% endif %}#}
{#          {% for num in page_obj.paginator.page_range %}#}
{#              {% if page_obj.number == num %}#}
{#                  <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>#}
{#              {% else %}#}
{#                  <li><a href="?page={{ num }}">{{ num }}</a></li>#}
{#              {% endif %}#}
{#          {% endfor %}#}
{#          {% if page_obj.has_next %}#}
{#              <li>#}
{#                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">#}
{#            <span aria-hidden="true">&raquo;</span></a></li>#}
{#          {% endif %}#}
{#      </ul>#}
{#    </nav>#}
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" ></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" ></script>
    <script type="text/javascript">
{#        $(document).ready(function () {#}
{##}
            {# DaTaTable插件展示表格 #}
{#            var table = $("#table-group").DataTable({   //这里定义table变量是为了提交数据成功后的刷新数据用的#}
{#                    language: {#}
{#                        "sProcessing": "处理中...",#}
{#                        "sLengthMenu": "显示 _MENU_ 项结果",#}
{#                        "sZeroRecords": "没有匹配结果",#}
{#                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",#}
{#                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",#}
{#                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",#}
{#                        "sInfoPostFix": "",#}
{#                        "sSearch": "搜索:",#}
{#                        "sUrl": "",#}
{#                        "sEmptyTable": "表中数据为空",#}
{#                        "sLoadingRecords": "载入中...",#}
{#                        "sInfoThousands": ",",#}
{#                        "oPaginate": {#}
{#                            "sFirst": "首页",#}
{#                            "sPrevious": "上页",#}
{#                            "sNext": "下页",#}
{#                            "sLast": "末页"#}
{#                        },#}
{#                        "oAria": {#}
{#                            "sSortAscending": ": 以升序排列此列",#}
{#                            "sSortDescending": ": 以降序排列此列"#}
{#                        }#}
{#                    },#}
{#                    'order':[[3,'desc'],],#}
{#                    'ajax':"/activity/get_group_info_ajax/",#}
{#                    'columns':[#}
{#                        {"data":"group_id"},#}
{#                        {"data":"name"},#}
{#                        {"data":"sequence"},#}
{#                        {"data":"create_time"},#}
{#                        {"data":"youxiao"},#}
{#                        {"data":"action"}#}
{#                    ]#}
{#            });#}
{#        })#}
    </script>
</body>
</html>